.about-row {
	padding-top: 18vh;
	padding-bottom: 30vh;
	h1 {
		font-family: Harmattan;
		font-size: 4em;
		text-align: center;
	}
	hr {
		width: 30vw;
	}
	p {
		text-indent: 6vw;
		padding-left: 6vw;
		padding-right: 6vw;
	}
}