
// **********
// HERO IMAGE
// **********


#hero{
  background-image: url("../../assets/img/rio-2.jpg");
  background-size: cover;
  opacity: 0.8;
  position: relative;
  height: 95vh;
  z-index: 1;
  .header {
  	position: absolute;
  	top: 67%;
  	text-align: center;
  	width: 100%;
  	color: #fff;
  	font-size: 36px;
  	-ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
  	h1 {
  		font-family: 'Cabin Sketch', sans serif;
  		font-size: 4em;
  	}
  	.button {
  		z-index: 1000;
      font-family: Arial;
  		font-size: .45em;
  		font-weight: bold;
  		width: 122px;
  		height: 50px;
  		padding-top: 14px;
  		margin-left: 15px;
  		margin-right: 15px;
  		background: transparent;
  		border: 2px solid #fff;
  		border-radius: 3px;
  	}
  }
}


// ***************
// TEXT BELOW HERO
// ***************

#content {
  padding: 100px 50px;
  text-align: center;
  width: 80%;
  margin: 0px auto;
}

#content h2 {
  font-family: Harmattan;
  font-size: 3em;
  margin: 0px 0px 30px 0px;
}

p {
	font-size: 1.3em;
}

// *************
// MEDIA QUERIES
// *************

@media screen and (min-width: 552px) and (max-width: 892px) {
	#hero {
		.header h1 {
			font-size: 2.5em;
		}
	}
	#content h2 {
  		font-size: 2em;
	}
	p {
		font-size: 0.9em;
	}
}

@media screen and (min-width: 100px) and (max-width: 551px) {
	#hero {
		.header h1 {
			font-size: 2em;
		}
	}
	#content {
		padding-left: 0;
		padding-right: 0;
	}
	#content h2 {
  		font-size: 1.8em;
	}
	p {
		font-size: 0.8em;
	}	
}



