


// **********************
// PICTURE + CAPTION ROWS
// **********************

.picture-row {
	max-width: 2000px;
	margin: 0px;
}

.home-image-1, .home-image-2, .home-image-3, .home-caption {
	position: relative;
  	margin: 0;
  	padding: 0;
  	width: 50%;
  	height: 95.5vh;
  	z-index: -1;
}

.home-image-1 {
	background-image: url("../../assets/img/morocco-2.jpg");
	opacity: 0.8;
	background-size: cover;
}

.home-image-2 {
	background-image: url("../../assets/img/thailand-boat-2.jpg");
	opacity: 0.8;
	background-size: cover;
}

.home-image-3 {
	background-image: url("../../assets/img/italy-2.jpg");
	opacity: 0.8;
	background-size: cover;
}

.home-caption {
	background: #d6deea;
	h1, p {
		padding-left: 10%;
		padding-right: 10%;
		color: #344867;
	}
	h1 {
		font-family: Harmattan;
		padding-top: 30%;
		font-size: 4em;
		font-weight: bold;
		text-align: left;

	}
}

// *****************
// TEXT AFTER PHOTOS
// *****************

.home-text {
	text-align: center;
	padding-top: 15vh;
	padding-left: 20%;
	padding-right: 20%;
	h1 {
		font-family: Harmattan;
	}
	hr {
		width: 20%;
	}
}

// *****
// CARDS
// *****

.card-row {
	padding-top: 10vh;
	padding-left: 5%;
	padding-right: 5%;
	.card-section {
		text-align: center;
		background: #ececec;
		border: 1px solid #ececec;
	}
	.card-section {
		height: 190px;
	}
	h1 {
		font-family: Harmattan;
		font-size: 2em;
		margin-bottom: 0;
	}
	hr {
		margin-top: 0;
		width: 20%;
	}
	p {
		font-size: 1em;
		padding-left: 10px;
		padding-right: 10px;
	}
}

// *****************
// PRE-FOOTER PHOTOS
// *****************

.pre-footer {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	max-width: 2000px;
	.columns {
		padding-left: 0;
		padding-right: 0;
	}
	.pre-footer-photo-1 {
		background-image: url("../../assets/img/travel-photo-7.jpg");
		background-size: cover;
		opacity: 0.8;
		height: 34vh;
	}
	.pre-footer-photo-2 {
		background-image: url("../../assets/img/travel-photo-9.jpg");
		background-size: cover;
		opacity: 0.8;
		height: 34vh;
	}
	.pre-footer-photo-3 {
		background-image: url("../../assets/img/travel-photo-12.jpg");
		background-size: cover;
		opacity: 0.8;
		height: 34vh;
	}
	.pre-footer-photo-4 {
		background-image: url("../../assets/img/travel-photo-13.jpg");
		background-size: cover;
		opacity: 0.8;
		height: 34vh;
	}
}


// *************
// MEDIA QUERIES
// *************

@media screen and (min-width: 940px) and (max-width: 1055px) {
	.card-photo, .card-section {
		width: 265px;
	}
	.card {
		border: none;
	}
}

@media screen and (min-width: 740px) and (max-width: 940px) {
	.card-row {
		padding-left: 2%;
		padding-right: 3%;
	}
	.card-photo, .card-section {
		width: 220px;
	}
	.card {
		border: none;
	}
}

@media screen and (max-width: 739px) {
	.card-row {
		display: none;
	}
}

@media screen and (min-width: 562px) and (max-width: 862px) {
	.home-caption {
		h1 {
			font-size: 2em;
		}
		p {
			font-size: 0.9em;
		}
	}
}

@media screen and (min-width: 100px) and (max-width: 561px) {
	.home-caption {
		margin-top: 0;
		h1 {
			font-size: 2em;
		}
		p {
			font-size: 0.9em;
		}
	}
	.home-text {
		text-align: center;
		padding-top: 10vh;
		padding-left: 10%;
		padding-right: 10%;
		hr {
			width: 25%;
		}
}
}

